* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 941px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.header {
    background: url("../img/bg.png") center;
    background-size: cover;
    padding: 41px 0 71px 0;
}

.logo {
    max-width: 101.62px;
    display: block;
    margin: 0 auto;
}

.header-title {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 317px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
}

.header-paragraph {
    margin: 21px 0 221px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.header-scroll {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    max-width: 128px;
    display: block;
    margin: 0 auto;
}

.main {
    padding: 24px 0 118px 0;
}

.main-header {
    padding-bottom: 25px;
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 58px;
}

.navbar-menu {
    margin-left: 425px;
    display: inline-block;
}

.navbar-list-item {
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    color: #48555B;
}

.navbar-list-item:nth-child(1) {
    margin-right: 48px;
}

.navbar-list-item:nth-child(2) {
    margin-right: 42.5px;
    color: #00A4E5;
}

.navbar-list-item:nth-child(3) {
    margin-right: 39px;
}

.navbar-list-item:nth-child(4) {
    margin-right: 30px;
}

.main-story-title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.line {
    width: 50px;
    margin: 10px auto 0;
    border: 2px solid #00A4E5;
}

.main-content {
    display: flex;
    margin-top: 80px;
}

.main-description {
    max-width: 405px;
    margin-right: 71px;
    display: flex;
    flex-direction: column;
}

.main-story-subtitle {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.main-story-subtitle span {
    color: #00A4E5;
}

.main-story-text {
    margin-top: 30px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    font-weight: 200;
}

.main-images {
    display: flex;
    vertical-align: bottom;
}

.main-item {
    width: 140px;
    height: 224px;
    padding: 15px 58px 151px 14px;
}
.main-item.plan {
    background: url("../img/plan.png");
}

.main-item.manage {
    background: url("../img/manage.png");
    margin-left: 20px;
    margin-right: 20px;
}

.main-item.build {
    background: url("../img/deliver.png");
}

.main-item.text {
    width: 68px;
}

span.main-item-text {
    text-align: left;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
}

.services-content.description {
    vertical-align: middle;
    margin-bottom: 80px;
}

.services-content.block {
    display: inline-block;
    margin-right: 150px;
}

.services-content.title {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    letter-spacing: 2.30625px;
    color: #48555B;
    margin-bottom: 10px;
    display: inline-block;
}

.services-content.line {
    margin: 0;
    width: 50px;
    border: 2px solid #00A4E5;
}

.services-content.text {
    width: 405.4px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    font-weight: 100;
    display: inline-block;
    margin-right: 31px;
}

.button {
    background: #00A4E5;
    padding: 11px;
    color: white;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    vertical-align: top;
}

.services-item {
    display: inline-block;
    max-width: 295px;
    padding: 38px 23px 39px 22px;
    border: 1px solid #E6E6E6;
    vertical-align: middle;
    font-size: 0;
}

.services-item.center {
    margin-right: 23px;
    margin-left: 22px;
}

.item-subtitle{
    margin: 25px 0 68px 0;
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}

.item-image {
    height: 75px;
}

.item-text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    font-weight: 100;
}
.get-in-touch {
    background: url("../img/bg2.png") center;
    background-size: cover;
    padding: 120px 0 231.24px 0;
}

.get-in-touch-header {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
    max-width: 350px;
    text-align: center;
    margin: 0 auto 35px auto;
}

.get-in-touch-action {
    text-align: center;
}

.newsletter {
    background-color: #171819;
    padding: 30px 378px;
}

.newsletter-signup-header {
    display: inline-block;
    width: 216px;
    margin-right: 60px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    vertical-align: middle;
}

.newsletter-signup-input {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #979797;
    width: 250px;
    padding: 11px 16px 10px;
    text-align: left;
    white-space: nowrap;
    height: 40px;
    vertical-align: middle;
}

.newsletter-signup-input::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07px;
    color: #48555B;
}

.newsletter-signup-button {
    display: inline-block;
    background: #00A4E5;
    padding: 11px;
    color: white;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    width: 150px;
    font-weight: bold;
    margin-left: -10px;
    height: 40px;
    vertical-align: middle;
}

.footer {
    background-color: #141A20;
    padding: 42px 0 49px 0;
}

.copyrights {
    background-color: #171819;
    padding: 22px 0 23px 0;
}

.copyrights p {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.footer-subjects {
    padding: 42px 0 50px 0;
}

.footer-company {
    max-width: 250px;
    margin-right: 71px;
    display: inline-block;
}

.company-header {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    font-weight: 100;
}

.company-logo {
    margin: 19px 0 15px 0;
}

.company-text {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    font-weight: 100;
}